* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Proxima Nova Regular', sans-serif;
}

h2 {
  font-size: 24pt;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.some-hot-offer {
  width: 390px;
  height: 280px;
}

#hot-offer-1 {
  background-color: #FF6875;
}

#hot-offer-2 {
  background-color: #F6F7F8;
}

#hot-offer-3 {
  background-color: #C1C8CE;
}

.nav-link {
  color: black;
  text-decoration: unset;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.nav-link:active {
  color: #33A0FF;
}

.nav-link:hover {
  color: #33A0FF;
}

nav {
  width: 660px;
  height: 90px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav-logo {
  margin: 0 auto;
  text-align: center;
}

footer {
  margin-top: 7em;
}

@font-face {
  font-family: Proxima Nova Regular;
  src: url("fonts/ProximaNova-Regular.woff") format("woff");
}

@font-face {
  font-family: Proxima Nova Bold;
  src: url("fonts/ProximaNova-Bold.woff") format("woff");
}

@font-face {
  font-family: Proxima Nova SemiBold;
  src: url("fonts/ProximaNova-Semibold.woff") format("woff");
}

@font-face {
  font-family: Proxima Nova Light;
  src: url("fonts/ProximaNova-Light.woff") format("woff");
}

.commercial-sale {
  height: 600px;
  background-color: #2E90E5;
  margin-top: 109px;
}

.commercial-sale-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.commercial-sale-text {
  color: white;
  width: 393.42px;
  height: 274.45px;
  display: -ms-grid;
  display: grid;
}

.commercial-sale-header {
  font-size: 48pt;
  font-family: 'Proxima Nova Light', sans-serif;
}

.commercial-sale-desc {
  font-size: 18pt;
  font-family: 'Proxima Nova Regular', sans-serif;
}

.commercial-sale-to-shop {
  text-transform: uppercase;
  font-size: 11pt;
}

.commercial-sale-to-shop:after {
  content: '';
  display: block;
  border-bottom: 3px solid #fff;
  width: 20%;
  padding-top: 0.5em;
}

.commercial-sale-img {
  position: relative;
  top: -109px;
}

.features-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 7em 0px 0px;
}

.features-item {
  max-width: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features-item > i {
  color: #FF6875;
}

.features-name {
  font-family: 'Proxima Nova SemiBold', sans-serif;
  font-size: 18pt;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em 0;
}

.latest-news {
  margin: 7em 0px 0px;
}

.latest-news > .container > h2 {
  text-align: center;
  text-transform: uppercase;
}

.latest-news-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  margin: 4em 0px 0px;
}

.latest-news-item {
  max-width: 363.1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.latest-news-pic {
  max-width: 140px;
  max-height: 166px;
  overflow: hidden;
}

.latest-news-pic > img {
  height: 100%;
}

.latest-news-text {
  display: -ms-grid;
  display: grid;
  padding: 1em 0em 1em 1.4em;
}

.latest-news-text > .latest-news-date {
  font-size: 10pt;
  color: #C1C8CE;
}

.latest-news-text > .latest-news-name {
  font-size: 14pt;
  font-weight: bold;
}

.latest-news-text > .latest-news-desc {
  font-size: 12pt;
}

.featured {
  margin: 7em 0px 0px;
}

.featured > .container > h2 {
  text-align: center;
  text-transform: uppercase;
}

.featured-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  margin: 4em 0px 0px;
}

.featured-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.featured-pic {
  max-height: 166px;
  max-width: 150px;
}

.featured-pic > img {
  height: 100%;
}

.featured-text {
  display: -ms-grid;
  display: grid;
  padding: 1em 0em 1em 1.4em;
  max-width: 14em;
  -ms-grid-rows: 1.6fr 1fr 2fr;
      grid-template-rows: 1.6fr 1fr 2fr;
}

.featured-text > .featured-item-name {
  font-size: 12pt;
  font-weight: bold;
}

.featured-text > .featured-item-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.featured-text > .featured-item-rating > i {
  margin: 0 0.5em 0 0;
  font-size: 0.75em;
}

.featured-text > .featured-item-rating > i.fa-star.active {
  color: #FFC600;
}

.featured-text > .featured-item-rating > i.fa-star.inactive {
  color: #C1C8CE;
}

.featured-text > .featured-item-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14pt;
}

.featured-text > .featured-item-price > .discount {
  color: #FF4858;
}

.featured-text > .featured-item-price > .discount:before, .featured-text > .featured-item-price .standart:before {
  content: '$';
}

.featured-text > .featured-item-price > .standart {
  text-decoration: line-through;
  color: #C1C8CE;
  margin: 0 0 0 0.5em;
}

.search-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 7em auto 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 600px;
  height: 60px;
}

.search-content > input {
  border-radius: 0.5em 0 0 0.5em;
  border: solid #F6F7F8;
  width: 80%;
  margin: 0;
  padding: 1em 2em;
  -webkit-transition: border .3s ease;
  transition: border .3s ease;
  font-size: 14pt;
}

.search-content > input:focus {
  outline: none;
  border-color: #2E90E5;
  border-right: 0;
}

.search-content > input::-webkit-input-placeholder {
  font-family: 'Proxima Nova SemiBold', sans-serif;
  font-size: 11pt;
  color: #7e7e7e;
}

.search-content > input:-ms-input-placeholder {
  font-family: 'Proxima Nova SemiBold', sans-serif;
  font-size: 11pt;
  color: #7e7e7e;
}

.search-content > input::-ms-input-placeholder {
  font-family: 'Proxima Nova SemiBold', sans-serif;
  font-size: 11pt;
  color: #7e7e7e;
}

.search-content > input::placeholder {
  font-family: 'Proxima Nova SemiBold', sans-serif;
  font-size: 11pt;
  color: #7e7e7e;
}

.search-content > span {
  border-radius: 0 0.5em 0.5em 0;
  border: solid #2E90E5;
  width: 20%;
  background-color: #2E90E5;
  color: white;
  margin: 0;
  cursor: pointer;
  text-align: center;
  line-height: 3em;
  font-size: 14pt;
}

.search-content > span:focus {
  outline: none;
  border-color: #2E90E5;
}

.contact-info-block {
  display: -ms-grid;
  display: grid;
  grid-template: "a b c" 4em "a b c" 9em;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  border-bottom: 2px solid #F6F7F8;
}

.contact-info-block > div {
  max-width: 268.59px;
  font-size: 10pt;
}

.contact-info-block > span, .contact-info-block svg {
  font-family: 'Proxima Nova SemiBold', sans-serif;
  font-size: 14pt;
}

.contact-info-block .contact-info-follow-us-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2em;
}

.contact-info-block .contact-info-follow-us-icons > a {
  cursor: unset;
}

.contact-info-block .contact-info-follow-us-icons > a > i {
  margin: 0 3em 0 0;
  cursor: pointer;
}

.contact-info-block .fa.fa-facebook-f {
  color: #385C8E;
}

.contact-info-block .fa.fa-twitter {
  color: #03A9F4;
}

.bottom-menu-content {
  display: -ms-grid;
  display: grid;
  grid-template: "a b c e f g" 3em "a b c e f g" 2em "a b c e f g" 2em "a b c e f g" 2em "a b c e f g" 4em;
  margin-top: 3em;
  border-bottom: 2px solid #F6F7F8;
}

.bottom-menu-content > .bottom-menu-content-header {
  font-family: 'Proxima Nova SemiBold', sans-serif;
  font-size: 14pt;
}

.bottom-menu-content > .bottom-menu-content-item {
  font-size: 10pt;
}

.bottom-item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2em;
}

.bottom-item-content > .bottom-item-copyright {
  color: #C1C8CE;
  font-size: 10pt;
}

.bottom-item-content > .bottom-item-icons {
  width: 212.43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider {
  height: 650px;
  background: -webkit-gradient(linear, left top, right top, color-stop(-25%, #FF4858), color-stop(80%, #A65FDD), color-stop(125%, #9D65FF));
  background: linear-gradient(to right, #FF4858 -25%, #A65FDD 80%, #9D65FF 125%);
  overflow: hidden;
}

.slider-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider-content > .slider-next, .slider-content .slider-prev {
  position: relative;
  cursor: pointer;
  margin-bottom: 8em;
}

.slider-content > .slider-prev {
  left: -2em;
}

.slider-content > .slider-next {
  right: -2em;
}

.slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-item > .slider-item-text {
  color: white;
  display: -ms-grid;
  display: grid;
  max-width: 330px;
  max-height: 235px;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  grid-template: "a" 6em "a" 6em "a" 6em;
  margin-bottom: 8em;
}

.slider-item > .slider-item-text > .slider-item-header {
  font-family: 'Proxima Nova SemiBold', sans-serif;
  font-size: 30pt;
}

.slider-item > .slider-item-text > .slider-item-desc {
  font-size: 11pt;
}

.slider-item > .slider-item-text > .slider-item-more {
  text-transform: uppercase;
  cursor: pointer;
  width: 2.8em;
  height: 2em;
}

.slider-item > .slider-item-text > .slider-item-more:after {
  content: '';
  display: block;
  border-bottom: 3px solid #fff;
  width: 100%;
  padding-top: 0.5em;
}

.slider-item > .slider-item-img {
  max-width: 729px;
  max-height: 650px;
  position: relative;
  top: 10%;
}
/*# sourceMappingURL=main-page.css.map */