* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Proxima Nova Regular', sans-serif;
  color: #22262A;
}

h2 {
  font-family: 'Proxima Nova Semibold', sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 22.5pt;
}

h3 {
  font-family: 'Proxima Nova Semibold', sans-serif;
  font-size: 13.5pt;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.language-currency-choice > select {
  border: 0;
}

.main-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-links > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 10.5pt;
  font-family: 'Proxima Nova Semibold', sans-serif;
  padding-right: 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-links > .my-profile-link {
  cursor: pointer;
}

.main-links > .my-profile-link > i {
  padding-right: 0.4em;
}

.main-links > .basket-link {
  cursor: pointer;
}

.main-links > .basket-link > div {
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.main-links > .basket-link > i {
  padding-right: 0.4em;
}

.main-links > .basket-link > .items-count {
  padding-right: 0.3em;
}

.main-links > .basket-link > .overall-price {
  font-size: 10.5pt;
  color: #C1C8CE;
  padding: 0 0.3em;
}

.main-links > .basket-link > .overall-price:before {
  content: '$';
}

.main-links > .searchbar {
  padding-left: 4em;
}

.main-links > .searchbar > i {
  cursor: pointer;
}

.nav-link {
  color: black;
  text-decoration: unset;
  font-family: 'Proxima Nova Semibold', sans-serif;
  font-size: 10.5pt;
  text-transform: uppercase;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.nav-link:active {
  color: #33A0FF;
}

.nav-link:hover {
  color: #33A0FF;
}

nav {
  width: 660px;
  height: 90px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav-logo {
  margin: 0 auto;
  text-align: center;
}

.item-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-rating > i {
  margin: 0 0.25em 0 0.25em;
  font-size: 0.68em;
}

.item-rating > i.fa-star.active {
  color: #FFC600;
}

.item-rating > i.fa-star.inactive {
  color: #C1C8CE;
}

.price {
  font-size: 12pt;
  margin: 0 0.25em 0 0.25em;
}

.price.discount:before, .price.old:before {
  content: '$';
}

.price.discount {
  color: #FF4858;
}

.price.old {
  text-decoration: line-through;
  color: #C1C8CE;
}

.separator {
  height: 2px;
  background-color: #F6F7F8;
}

footer {
  margin-top: 7em;
  border-top: 2px solid #F6F7F8;
}

@font-face {
  font-family: Proxima Nova Regular;
  src: url("fonts/ProximaNova-Regular.woff") format("woff");
}

@font-face {
  font-family: Proxima Nova Bold;
  src: url("fonts/ProximaNova-Bold.woff") format("woff");
}

@font-face {
  font-family: Proxima Nova SemiBold;
  src: url("fonts/ProximaNova-Semibold.woff") format("woff");
}

@font-face {
  font-family: Proxima Nova Light;
  src: url("fonts/ProximaNova-Light.woff") format("woff");
}

.commercial-sale {
  height: 709px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(15.373%, rgba(0, 0, 0, 0)), color-stop(15.373%, #2e90e5), to(#2e90e5));
  background: linear-gradient(rgba(0, 0, 0, 0) 15.373%, #2e90e5 15.373%, #2e90e5 100%);
  overflow: hidden;
}

.commercial-sale-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.commercial-sale-text {
  width: 393.42px;
  height: 274.45px;
  display: -ms-grid;
  display: grid;
  position: relative;
  top: 4em;
}

.commercial-sale-text > div {
  color: white;
}

.commercial-sale-header {
  font-size: 49.5pt;
  font-family: 'Proxima Nova Light', sans-serif;
}

.commercial-sale-desc {
  font-size: 18pt;
  font-family: 'Proxima Nova Regular', sans-serif;
}

.commercial-sale-to-shop {
  text-transform: uppercase;
  font-size: 10.5pt;
}

.commercial-sale-to-shop:after {
  content: 'Shop now';
  font-family: 'Proxima Nova Bold', sans-serif;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  border-bottom: 3px solid #fff;
  padding: 0.5em 0;
  cursor: pointer;
}

.commercial-sale-img > img {
  -webkit-transform: scale(1.41);
          transform: scale(1.41);
  position: relative;
  top: 9.688em;
  right: 2em;
}

.features-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 7em 0px 0px;
}

.features-item {
  max-width: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features-item > i {
  color: #FF6875;
}

.features-name {
  font-family: 'Proxima Nova SemiBold', sans-serif;
  font-size: 18pt;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em 0;
}

.features-desc {
  font-size: 10.5pt;
  text-align: center;
}

.latest-news {
  margin: 7em 0px 0px;
}

.latest-news-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  margin: 4em 0px 0px;
}

.latest-news-item {
  max-width: 363.1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.latest-news-pic {
  max-width: 140px;
  max-height: 166px;
  overflow: hidden;
}

.latest-news-pic > img {
  height: 100%;
}

.latest-news-text {
  display: -ms-grid;
  display: grid;
  padding: 1em 0em 1em 1.4em;
}

.latest-news-text > .latest-news-date {
  font-size: 10.5pt;
  color: #C1C8CE;
}

.latest-news-text > .latest-news-name {
  font-size: 13.5pt;
  font-family: 'Proxima Nova Bold', sans-serif;
}

.latest-news-text > .latest-news-desc {
  font-size: 10.5pt;
}

.featured {
  margin: 7em 0px 0px;
}

.featured-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  margin: 4em 0 0;
}

.featured-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.featured-pic {
  max-height: 166px;
  max-width: 150px;
}

.featured-pic > img {
  height: 100%;
}

.featured-text {
  display: -ms-grid;
  display: grid;
  padding: 1em 0em 1em 1.4em;
  max-width: 14em;
  -ms-grid-rows: 1.6fr 1fr 2fr;
      grid-template-rows: 1.6fr 1fr 2fr;
}

.featured-text > .featured-item-name {
  font-size: 10.5pt;
  font-family: 'Proxima Nova Bold', sans-serif;
}

.featured-text > .featured-item-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 7em auto 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 600px;
  height: 60px;
}

.search-content > input {
  border-radius: 0.5em 0 0 0.5em;
  border: solid #F6F7F8;
  width: 80%;
  margin: 0;
  padding: 1em 1em;
  -webkit-transition: border .3s ease;
  transition: border .3s ease;
  font-size: 10.5pt;
}

.search-content > input:focus {
  outline: none;
  border-color: #2E90E5;
  border-right: 0;
}

.search-content > input::-webkit-input-placeholder {
  font-family: 'Proxima Nova SemiBold', sans-serif;
  font-size: 10.5pt;
  color: #7e7e7e;
}

.search-content > input:-ms-input-placeholder {
  font-family: 'Proxima Nova SemiBold', sans-serif;
  font-size: 10.5pt;
  color: #7e7e7e;
}

.search-content > input::-ms-input-placeholder {
  font-family: 'Proxima Nova SemiBold', sans-serif;
  font-size: 10.5pt;
  color: #7e7e7e;
}

.search-content > input::placeholder {
  font-family: 'Proxima Nova SemiBold', sans-serif;
  font-size: 10.5pt;
  color: #7e7e7e;
}

.search-content > span {
  border-radius: 0 0.5em 0.5em 0;
  border: solid #2E90E5;
  width: 20%;
  background-color: #2E90E5;
  margin: 0;
  cursor: pointer;
}

.search-content > span > div {
  color: white;
  text-align: center;
  font-size: 10.5pt;
  font-family: 'Proxima Nova Bold', sans-serif;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.search-content > span:focus {
  outline: none;
  border-color: #2E90E5;
}

.contact-info-block {
  display: -ms-grid;
  display: grid;
  grid-template: "a b c" 4em "a b c" 7em;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-top: 3em;
  border-bottom: 2px solid #F6F7F8;
}

.contact-info-block > div {
  max-width: 268.59px;
  font-size: 9pt;
}

.contact-info-block > span, .contact-info-block svg {
  font-family: 'Proxima Nova SemiBold', sans-serif;
  font-size: 13.5pt;
}

.contact-info-block .contact-info-follow-us-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2em;
}

.contact-info-block .contact-info-follow-us-icons > a {
  cursor: unset;
}

.contact-info-block .contact-info-follow-us-icons > a > i {
  margin: 0 2.5em 0 0;
  cursor: pointer;
}

.contact-info-block .fa.fa-facebook-f {
  color: #385C8E;
}

.contact-info-block .fa.fa-twitter {
  color: #03A9F4;
}

.bottom-menu-content {
  display: -ms-grid;
  display: grid;
  grid-template: "a b c e f g" 4em "a b c e f g" 2em "a b c e f g" 2em "a b c e f g" 2em "a b c e f g" 4em;
  margin-top: 2em;
}

.bottom-menu-content > .bottom-menu-content-item {
  font-size: 10.5pt;
}

.bottom-items {
  border-top: 2px solid #F6F7F8;
}

.bottom-item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2em 0;
}

.bottom-item-content > .bottom-item-copyright {
  color: #C1C8CE;
  font-size: 10.5pt;
}

.bottom-item-content > .bottom-item-icons {
  width: 212.43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider {
  height: 650px;
  background: -webkit-gradient(linear, left top, right top, color-stop(-25%, #FF4858), color-stop(80%, #A65FDD), color-stop(125%, #9D65FF));
  background: linear-gradient(to right, #FF4858 -25%, #A65FDD 80%, #9D65FF 125%);
  overflow: hidden;
}

.slider-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider-content > .slider-next, .slider-content .slider-prev {
  position: relative;
  cursor: pointer;
  margin-bottom: 8em;
}

.slider-content > .slider-prev {
  left: -2em;
}

.slider-content > .slider-next {
  right: -2em;
}

.slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-item > .slider-item-text {
  display: -ms-grid;
  display: grid;
  max-width: 330px;
  max-height: 235px;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  grid-template: "a" 6em "a" 6em "a" 6em;
  margin-bottom: 8em;
}

.slider-item > .slider-item-text > div {
  color: white;
}

.slider-item > .slider-item-text > .slider-item-header {
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 27pt;
}

.slider-item > .slider-item-text > .slider-item-desc {
  font-size: 10.5pt;
}

.slider-item > .slider-item-text > .slider-item-more {
  text-transform: uppercase;
  font-size: 10.5pt;
}

.slider-item > .slider-item-text > .slider-item-more:after {
  content: 'more';
  font-family: 'Proxima Nova Bold', sans-serif;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  border-bottom: 3px solid #fff;
  padding: 0.5em 0;
  cursor: pointer;
}

.slider-item > .slider-item-img {
  max-width: 729px;
  max-height: 650px;
  position: relative;
  top: 1.5em;
}

.hot-offer-row {
  position: relative;
  top: -55px;
}

.some-hot-offer {
  width: 390px;
  height: 280px;
  position: relative;
  overflow: hidden;
}

#hot-offer-1 {
  background-color: #FF6875;
}

#hot-offer-1 > .hot-offer-text {
  display: -ms-grid;
  display: grid;
  max-width: 270px;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  grid-template: "a" 3em "a" 3em "a" 3em;
  padding: 2.5em 0em 0 2em;
}

#hot-offer-1 > .hot-offer-text > div {
  color: white;
}

#hot-offer-1 > .hot-offer-text > .hot-offer-header {
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 18pt;
}

#hot-offer-1 > .hot-offer-text > .hot-offer-desc {
  font-size: 9pt;
}

#hot-offer-1 > .hot-offer-text > .hot-offer-price {
  font-size: 18pt;
}

#hot-offer-1 > .hot-offer-text > .hot-offer-price:before {
  content: '$';
}

#hot-offer-1 > .hot-offer-img {
  position: absolute;
  max-width: 316px;
  top: 30px;
  right: -25px;
}

#hot-offer-2 {
  background-color: #F6F7F8;
}

#hot-offer-2 > .hot-offer-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
  padding: 2em 2em;
}

#hot-offer-2 > .hot-offer-text > .hot-offer-header {
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 18pt;
}

#hot-offer-2 > .hot-offer-text > .hot-offer-price {
  font-size: 18pt;
}

#hot-offer-2 > .hot-offer-text > .hot-offer-price:before {
  content: '$';
}

#hot-offer-2 > .hot-offer-img {
  position: absolute;
  max-width: 316px;
  top: -20%;
  left: 10%;
}

#hot-offer-3 {
  background-color: #C1C8CE;
}

#hot-offer-3 > .hot-offer-text {
  display: -ms-grid;
  display: grid;
  max-width: 200px;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  grid-template: "a" 4em "a" 4em "a" 4em;
  padding: 2.5em 0em 0 2em;
}

#hot-offer-3 > .hot-offer-text > .hot-offer-header {
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 18pt;
}

#hot-offer-3 > .hot-offer-text > .hot-offer-desc {
  font-size: 9pt;
}

#hot-offer-3 > .hot-offer-text > .hot-offer-price {
  font-size: 18pt;
}

#hot-offer-3 > .hot-offer-text > .hot-offer-price:before {
  content: '$';
}

#hot-offer-3 > .hot-offer-img {
  position: absolute;
  max-width: 316px;
  right: -50px;
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  bottom: 0;
}

.best-seller-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 29px;
  width: 478px;
}

.best-seller-nav > .best-seller-nav-item {
  display: inline-block;
  cursor: pointer;
  font-family: 'Proxima Nova Semibold', sans-serif;
  font-size: 10.5pt;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.best-seller-nav > .best-seller-nav-item::after {
  content: '';
  display: block;
  margin: 0.5em 0 0;
  background-color: #33A0FF;
  height: 3px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.best-seller-nav > .best-seller-nav-item:hover {
  color: #33A0FF;
}

.best-seller-nav > .best-seller-nav-item:hover::after {
  opacity: 100%;
}

.best-seller-items {
  display: -ms-grid;
  display: grid;
  grid-template: "a b c d" 364px "a b c d" 364px;
}

.best-seller-items > .best-seller-item {
  display: -ms-grid;
  display: grid;
  width: 270px;
  height: 349px;
  border: 2px solid #F6F7F8;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: relative;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.best-seller-items > .best-seller-item > .best-seller-item-hot {
  position: absolute;
  left: 4%;
  top: 3%;
  background-color: #FF4858;
  color: white;
  text-transform: uppercase;
  width: 40px;
  height: 20px;
  border-radius: 10%;
  font-family: 'Proxima Nova Semibold', sans-serif;
  font-size: 10.5pt;
  padding: 0.1em 0;
}

.best-seller-items > .best-seller-item > .best-seller-item-img {
  width: 236px;
  height: 153px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  cursor: pointer;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.best-seller-items > .best-seller-item > .best-seller-item-img > img {
  width: 100%;
  height: auto;
  opacity: 1;
  display: block;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.best-seller-items > .best-seller-item > .best-seller-item-img > .best-seller-item-img-hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  opacity: 0;
  width: 100%;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.best-seller-items > .best-seller-item > .best-seller-item-img > .best-seller-item-img-hover > div {
  border-radius: 50%;
  border: 2px solid rgba(51, 160, 255, 0.25);
  padding: 0.8em;
  margin: 0 0.4em;
}

.best-seller-items > .best-seller-item > .best-seller-item-img > .best-seller-item-img-hover > div > i {
  color: #33A0FF;
}

.best-seller-items > .best-seller-item > .best-seller-item-img:hover > img {
  opacity: 0.1;
}

.best-seller-items > .best-seller-item > .best-seller-item-img:hover > .best-seller-item-img-hover {
  opacity: 1;
}

.best-seller-items > .best-seller-item > .best-seller-item-name {
  font-family: 'Proxima Nova Semibold', sans-serif;
  font-size: 10.5pt;
  text-align: center;
  height: 100%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.best-seller-items > .best-seller-item > .item-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.best-seller-items > .best-seller-item > .best-seller-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}
/*# sourceMappingURL=main-page.css.map */