* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Proxima Nova Regular', sans-serif;
  color: #22262A;
}

h2 {
  font-family: 'Proxima Nova Semibold', sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 22.5pt;
}

h3 {
  font-family: 'Proxima Nova Semibold', sans-serif;
  font-size: 13.5pt;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.language-currency-choice > select {
  border: 0;
}

.main-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-links > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 10.5pt;
  font-family: 'Proxima Nova Semibold', sans-serif;
  padding-right: 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-links > .my-profile-link {
  cursor: pointer;
}

.main-links > .my-profile-link > i {
  padding-right: 0.4em;
}

.main-links > .basket-link {
  cursor: pointer;
}

.main-links > .basket-link > div {
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.main-links > .basket-link > i {
  padding-right: 0.4em;
}

.main-links > .basket-link > .items-count {
  padding-right: 0.3em;
}

.main-links > .basket-link > .overall-price {
  font-size: 10.5pt;
  color: #C1C8CE;
  padding: 0 0.3em;
}

.main-links > .basket-link > .overall-price:before {
  content: '$';
}

.main-links > .searchbar {
  padding-left: 4em;
}

.main-links > .searchbar > i {
  cursor: pointer;
}

.nav-link {
  color: black;
  text-decoration: unset;
  font-family: 'Proxima Nova Semibold', sans-serif;
  font-size: 10.5pt;
  text-transform: uppercase;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.nav-link:active {
  color: #33A0FF;
}

.nav-link:hover {
  color: #33A0FF;
}

nav {
  width: 660px;
  height: 90px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav-logo {
  margin: 0 auto;
  text-align: center;
}

.item-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-rating > i {
  margin: 0 0.25em 0 0.25em;
  font-size: 0.68em;
}

.item-rating > i.fa-star.active {
  color: #FFC600;
}

.item-rating > i.fa-star.inactive {
  color: #C1C8CE;
}

.price {
  font-size: 12pt;
  margin: 0 0.25em 0 0.25em;
}

.price.discount:before, .price.old:before {
  content: '$';
}

.price.discount {
  color: #FF4858;
}

.price.old {
  text-decoration: line-through;
  color: #C1C8CE;
}

.separator {
  height: 2px;
  background-color: #F6F7F8;
}

footer {
  margin-top: 7em;
  border-top: 2px solid #F6F7F8;
}
/*# sourceMappingURL=main.css.map */