* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Proxima Nova Regular', sans-serif;
    color: #22262A;
}

h2 {
    font-family: 'Proxima Nova Semibold', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 22.5pt;
}

h3 {
    font-family: 'Proxima Nova Semibold', sans-serif;
    font-size: 13.5pt;
}
  
.container {
    max-width: 1170px;
    margin: 0 auto;
}
  
.flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.language-currency-choice {
    & > select {
        border: 0;
    }
}

.main-links {
    display: flex;
    align-items: center;

    & > div {
        display: flex;
        font-size: 10.5pt;
        font-family: 'Proxima Nova Semibold', sans-serif;
        padding-right: 2em;
        align-items: center;
    }

    & > .my-profile-link {
        cursor: pointer;

        & > i {
            padding-right: 0.4em;
        }
    }

    & > .basket-link {
        cursor: pointer;

        & > div {
            font-family: 'Proxima Nova Semibold', sans-serif;
        }

        & > i {
            padding-right: 0.4em;
        }

        & > .items-count {
            padding-right: 0.3em;
        }
        
        & > .overall-price {
            font-size: 10.5pt;
            color: #C1C8CE;
            padding: 0 0.3em;

            &:before {
                content: '$';
            }
        }
    }

    & > .searchbar {
        padding-left: 4em;

        & > i {
            cursor: pointer;
        }
    }
}

.nav-link {
    color: black;
    text-decoration: unset;
    font-family: 'Proxima Nova Semibold', sans-serif;
    font-size: 10.5pt;
    text-transform: uppercase;
    transition: color .3s;

    &:active {
        color: #33A0FF;
    }

    &:hover {
        color: #33A0FF;
    }
}

nav {
    width: 660px;
    height: 90px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
  
.nav-logo {
    margin: 0 auto;
    text-align: center;
}

.item-rating {
    display: flex;

    & > i {
        margin: 0 0.25em 0 0.25em;
        font-size: 0.68em;
    }
    
    & > i.fa-star.active {
        color: #FFC600;
    }

    & > i.fa-star.inactive {
        color: #C1C8CE;
    }
}

.price {
    font-size: 12pt;
    margin: 0 0.25em 0 0.25em;
}

.price.discount:before, .price.old:before {
    content: '$';
}

.price.discount {
    color: #FF4858;
}

.price.old {
    text-decoration: line-through;
    color: #C1C8CE;
}

.separator {
    height: 2px;
    background-color: #F6F7F8;
}

footer {
    margin-top: 7em;
    border-top: 2px solid #F6F7F8;
}