.commercial-sale {
    height: 600px;
    background-color: #2E90E5;
    margin-top: 109px;
}

.commercial-sale-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}

.commercial-sale-text {
    color: white;
    width: 393.42px;
    height: 274.45px;
    display: grid;
}

.commercial-sale-header {
    font-size: 48pt;
    font-family: 'Proxima Nova Light', sans-serif;
}
.commercial-sale-desc {
    font-size: 18pt;
    font-family: 'Proxima Nova Regular', sans-serif;
}
.commercial-sale-to-shop {
    text-transform: uppercase;
    font-size: 11pt;

    &:after {
        content: '';
        display: block;
        border-bottom: 3px solid #fff;
        width: 20%;
        padding-top: 0.5em;
    }
}

.commercial-sale-img {
    position: relative;
    top: -109px;
}