.commercial-sale {
    height: 709px;
    background: linear-gradient(rgba(0,0,0,0) 15.373%, rgba(46,144,229, 1) 15.373%, rgba(46,144,229, 1) 100%);
    overflow: hidden;
}

.commercial-sale-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}

.commercial-sale-text {
    width: 393.42px;
    height: 274.45px;
    display: grid;
    position: relative;
    top: 4em;

    & > div {
        color: white;
    }
}

.commercial-sale-header {
    font-size: 49.5pt;
    font-family: 'Proxima Nova Light', sans-serif;
}
.commercial-sale-desc {
    font-size: 18pt;
    font-family: 'Proxima Nova Regular', sans-serif;
}
.commercial-sale-to-shop {
    text-transform: uppercase;
    font-size: 10.5pt;

    &:after {
        content: 'Shop now';
        font-family: 'Proxima Nova Bold', sans-serif;
        width: fit-content;
        display: block;
        border-bottom: 3px solid #fff;
        padding: 0.5em 0;
        cursor: pointer;
    }
}

.commercial-sale-img {
    & > img {
        transform: scale(1.41);
        position: relative;
        top: 9.688em;
        right: 2em;
    }
}