.search-content {
    display: flex;
    margin: 7em auto 0;
    justify-content: center;
    width: 600px;
    height: 60px;

    & > input {
        border-radius: 0.5em 0 0 0.5em;
        border: solid #F6F7F8;
        width: 80%;
        margin: 0;
        padding: 1em 2em;
        transition: border .3s ease;
        font-size: 14pt;

        &:focus {
            outline: none;
            border-color: #2E90E5;
            border-right: 0;
        }

        &::placeholder {
            font-family: 'Proxima Nova SemiBold', sans-serif;
            font-size: 11pt;
            color: rgba(126, 126, 126, 35%);
        }
    }

    & > span {
        border-radius: 0 0.5em 0.5em 0;
        border: solid #2E90E5;
        width: 20%;
        background-color: #2E90E5;
        color: white;
        margin: 0;
        cursor: pointer;
        text-align: center;
        line-height: 3em;
        font-size: 14pt;

        &:focus {
            outline: none;
            border-color: #2E90E5;
        }
    }
}