.bottom-menu-content {
    display: grid;
    grid-template:
        "a b c e f g" 4em
        "a b c e f g" 2em
        "a b c e f g" 2em
        "a b c e f g" 2em
        "a b c e f g" 4em;
    margin-top: 2em;

    & > .bottom-menu-content-item {
        font-size: 14px;
    }
}