.bottom-items {
    border-top: 2px solid #F6F7F8;
}

.bottom-item-content {
    display: flex;
    justify-content: space-between;
    margin: 2em 0;

    & > .bottom-item-copyright {
        color: #C1C8CE;
        font-size: 10.5pt;
    }

    & > .bottom-item-icons {
        width: 212.43px;
        display: flex;
        justify-content: space-between;
    }
}