.bottom-menu-content {
    display: grid;
    grid-template:
        "a b c e f g" 3em
        "a b c e f g" 2em
        "a b c e f g" 2em
        "a b c e f g" 2em
        "a b c e f g" 4em;
    margin-top: 3em;
    border-bottom: 2px solid #F6F7F8;

    & > .bottom-menu-content-header {
        font-family: 'Proxima Nova SemiBold', sans-serif;
        font-size: 14pt;
    }

    & > .bottom-menu-content-item {
        font-size: 10pt;
    }
}