.featured {
    margin: 7em 0px 0px;
}

.featured > .container > h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 22.5pt;
}

.featured-container {
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    margin: 4em 0 0;
}

.featured-item {
    display: flex;
}

.featured-pic {
    max-height: 166px;
    max-width: 150px;

    & > img {
        height: 100%;
    }
}

.featured-text {
    display: grid;
    padding: 1em 0em 1em 1.4em;
    max-width: 14em;
    grid-template-rows: 1.6fr 1fr 2fr;
    
    & > .featured-item-name {
        font-size: 10.5pt;
        font-family: 'Proxima Nova Bold', sans-serif;
    }

    & > .featured-item-rating {
        display: flex;

        & > i {
            margin: 0 0.5em 0 0;
            font-size: 0.75em;
        }

        & > i.fa-star.active {
            color: #FFC600;
        }

        & > i.fa-star.inactive {
            color: #C1C8CE;
        }
    }

    & > .featured-item-price {
        display: flex;
        font-size: 12pt;

        & > .discount {
            color: #FF4858;
        }

        & > .discount:before, .standart:before {
            content: '$';
        }

        & > .standart {
            text-decoration: line-through;
            color: #C1C8CE;
            margin: 0 0 0 0.5em;
        }
    }
}