.features-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin: 7em 0px 0px;
}

.features-item {
    max-width: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > i {
        color: #FF6875;
    }
}

.features-name {
    font-family: 'Proxima Nova Alt Bold', sans-serif;
    font-size: 18pt;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1em 0;
}